@charset "UTF-8";

*{ margin: 0 0 ;
}

header {
	width: 100%;
	height: 40px;
	background: #4169E1; 
	font-weight: bold;
	color: white;
	font-size: 2rem;
	padding: 40px;
	font-weight: bold;
	text-align: center;
	
	
}
	

nav {
	width: 100%;
	height: 20px;
	background: #AD9AEE;	
	color: white;
	font-weight: bold;
	padding: 20px;
	
	
}

section {

	width: 100%;
	height: 605px;
	background: #dcdcdc;
	
}

footer {

	width: 100%;
	height: 22px;
	padding: 22px;
	background: #0A6ECD;
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}
